html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blank-space {
  height: 50rem;
}

.input-box {
  transition: 0.2s;
  filter: opacity(0.2);
  position: fixed;
  top: 1rem;
  font-size: 2rem;
  width: 39rem;
  max-width: 98%;
  z-index: 2;
  padding: 0.4rem;
  padding-left: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 4px;
}

.input-box:hover {
  filter: opacity(1);
}

.input-box:focus {
  filter: opacity(1);
}

input.input-box::placeholder {
  font-size: 1.8rem;
}

@media screen and (max-width: 480px) {
  input.input-box::placeholder {
    font-size: 1rem;
  }
}
